<div class="card">
    <div class="card-header">
        Agregar Persona
    </div>

    <div class="row -sm">
        <form [formGroup]="formPersona" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
                <label class="center" for="ntd">Nombres</label>
                <input class="form-control" type="text" formControlName="nombre" name="inp-nombre-p" id="inp-nombre-p" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label for="ntd">Apellidos</label>
                <input class="form-control" type="text" formControlName="apellido" name="inp-apellido-p" id="inp-apellido-p" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label class="center" for="ntd">Tipo de documento:</label>
                <select class="form-select" aria-label="Default select example" formControlName="tipodoc" name="select-1" id="select-1">
                    <option selected>Seleccione el tipo</option>
                    <option value='1'>a</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="ntd">Documento</label>
                <input class="form-control" type="text" formControlName="doc" name="inp-doc-p" id="inp-doc-p" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label class="center" for="ntd">Lugar de Nacimiento</label>
                <input class="form-control" type="text" formControlName="lnac" name="inp-lnac-p" id="inp-lnac-p" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label class="center" for="ntd">Fecha de Nacimiento</label>
                <input class="form-control" type="text" formControlName="fnac" name="inp-fnac-p" id="inp-fnac-p" placeholder="DD/MM/YYYY" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label class="center" for="ntd">Email</label>
                <input class="form-control" type="text" formControlName="email" name="inp-email-p" id="inp-email-p" placeholder="Example@correo.com" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label class="center" for="ntd">Telefono</label>
                <input class="form-control" type="text" formControlName="tell" name="inp-telefono-p" id="inp-telefono-p" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label class="center" for="ntd">Nombre de Usuario</label>
                <input class="form-control" type="text" formControlName="user" name="inp-user-p" id="inp-user-p" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label class="center" for="ntd">Contraseña</label>
                <input class="form-control" type="password" formControlName="passw" name="inp-pass-p" id="inp-pass-p" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label class="center" for="ntd">Confirmar Contraseña</label>
                <input class="form-control" type="password" name="inp-pass2-p" formControlName="passw2" id="inp-pass2-p" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label class="center" for="ntd">Lugar de Residencia:</label>
                <select class="form-select" aria-label="Default select example" formControlName="lres" name="select-2" id="select-2">
                    <option selected>Seleccione el tipo</option>
                    <option value='1'>b</option>
                </select>
            </div>

            <div class="row mb-1 justify-content-center">
                <div class="col-2"></div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success" name="Bagregar">Agregar</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">Borrar</button>
                </div>
                <div class="col-2"></div>


                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>Alerta.</strong> Rellena todos los campos. 
                </div>

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>Listo.</strong> Se ha completado. 
                </div>

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>¡Error!</strong> Hay campos que ya existen en la BD o un error de conexión. 
                </div>
                <!--
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Atención</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Elija un campo a Borrar de la BD
                            <select class="form-select" aria-label="Default select example" name="select-3">
                                <option selected>Seleccione el campo</option>
                                <option value='<?php echo $valores->idTD ?>'><?php echo $valores->nombreTD ?></option>
                            </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary" name="Bborrar">Borrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            -->
            </div>
        </form>
    </div>
    
</div>