body{
    padding-top: 100px;
}

.col-6{
    background-image: linear-gradient(to bottom right, rgb(92, 228, 115), rgb(71, 171, 175));
    border-radius: 15px;
}

.minumspace{
    padding-bottom: 12px;
}

a:link, a:visited {
    background-color: #36f49548;
    color: white;
    padding: 11px 2px;
    border: 12px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: rgb(0, 255, 170);
}
