<div class="card">
    <div class="card-header">
        Tabla Personas
    </div>
    <div class="row p-4 ">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>TDoc</th>
                    <th>Documento</th>
                    <th>LNacimiento</th>
                    <th>FechaNacimiento</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Usuario</th>
                    <th>LResidencia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr **ngFor="let persona of Personas;let iControl=index">
                    <td scope="row">{{persona.ID}}</td>
                    <td>{{persona.Nombre}}</td>
                    <td>{{persona.Apellidos}}</td>
                    <td>{{persona.TDoc}}</td>
                    <td>{{persona.Documento}}</td>
                    <td>{{persona.LNacimiento}}</td>
                    <td>{{persona.FechaNacimiento}}</td>
                    <td>{{persona.Email}}</td>
                    <td>{{persona.Telefono}}</td>
                    <td>{{persona.Usuario}}</td>
                    <td>{{persona.LResidencia}}</td>
                    <td> <a routerLink="/editar-persona/{{persona.ID}}">Editar</a> |   <a role="button" class="btn btn-danger" (click)="borrarRegistro(persona.ID,iControl)">Borrar</a></td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>