<div class="card bg-dark px-2 py-2">
    <div class="card-header bg-light">
        Tabla Personas
    </div>
    <div class="row p-4 ">
        <table class="table-sm table-light align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>TDoc</th>
                    <th>Documento</th>
                    <th>LNacimiento</th>
                    <th>FechaNacimiento</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Usuario</th>
                    <th>LResidencia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of Personas;let iControl=index">
                    <td scope="row">{{persona.idP}}</td>
                    <td>{{persona.nombreP}}</td>
                    <td>{{persona.apellidoP}}</td>
                    <td>{{persona.nombreTD}}</td>
                    <td>{{persona.documentoP}}</td>
                    <td>{{persona.lugarnacP}}</td>
                    <td>{{persona.fechanacP}}</td>
                    <td>{{persona.emailP}}</td>
                    <td>{{persona.telefonoP}}</td>
                    <td>{{persona.usuarioP}}</td>
                    <td>{{persona.nombreC}}</td>
                    <td> <a routerLink="/editar-persona/{{persona.idP}}">Editar</a> |   <a role="button" class="btn btn-danger" (click)="borrarRegistro(persona.idP,iControl)">Borrar</a></td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>