<div class="card">
    <div class="card-header">
        Tabla Usuarios
    </div>
    <div class="row p-4 ">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>TDoc</th>
                    <th>Documento</th>
                    <th>LNacimiento</th>
                    <th>FechaNacimiento</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Usuario</th>
                    <th>LResidencia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>nombreP</td>
                    <td>apellidoP</td>
                    <td>nombreTD</td>
                    <td>documentoP</td>
                    <td>lugarnacP</td>
                    <td>fechanacP</td>
                    <td>emailP</td>
                    <td>telefonoP</td>
                    <td>usuarioP</td>
                    <td>nombreC</td>
                    <td> <a routerLink="/editar-persona/1">Editar</a> |   Borrar</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>