<div class="mask" style="background-color: rgba(0, 0, 0, 0.6); margin-top: 200px;">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
            <h1 class="mb-3">Proyecto MVC</h1>
            <h4 class="mb-3">Registrar Usuario</h4>
            <a class="btn btn-outline-light btn-lg" routerLink="/agregar-persona" role="button">¡Registrar Usuario Ahora!</a>
        </div>
    </div>
</div>

<div class="bg-dark text-center text-white fixed-bottom bottom-0 end-0" style="width: 100%;" id="footer">
    <!-- Grid container -->
    <div class="container-fluid p-2 pb-0">
        <!-- Section: Social media -->
        <section class="mb-2">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/JuanesSaigo" role="button"
            ><i class="icon ion-social-facebook"></i
        ></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/LOR_Saigo" role="button"
            ><i class="icon ion-social-twitter"></i
        ></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/saigo_juanes/?hl=es-la" role="button"
            ><i class="icon ion-social-instagram"></i
        ></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/JuanesSaigo" role="button"
            ><i class="icon ion-social-github"></i
        ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://github.com/JuanesSaigo/TalleresWebDevelopment/tree/main/MVC%20y%20Taller6">Juan Esteban Castillo Orduz - 2162102</a>
    </div>
    <!-- Copyright -->
</div>